// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label[for=email]{
  font-family: sans-serif;
  text-align: center;
}

label[for=password]{
  font-family: sans-serif;
  text-align: center;
}
